<div class="container margin-top-small">
  <div class="row">
    <div class="col-md-7">
      <% unless @portfolio_item.thumb_image.nil? %>
        <%= image_tag @portfolio_item.main_image.url, width: "100%" %>
      <% end %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>
      <hr>
      <em><%= @portfolio_item.subtitle %></em>
      <p><%= @portfolio_item.body %></p>
      <hr>
      <% if @portfolio_item.technologies.count > 0 %>
        <h3>Technologies Used:</h3>
        <% @portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
</div>

   
    <!-- The # before the '=' comments out this line, so it won't be rendered -->
    <%#= link_to "Edit", edit_portfolio_path(@portfolio_item.id) if logged_in?(:site_admin) %>
    <!-- WE CAN OMIT THE ".id" FROM THE PATH PARAMETER, AS USED IN THE NEXT LINE, AND RAILS IS SMART ENOUGH TO PICK THE ID FROM THE @portfolio_item -->
    <%= link_to "Edit", edit_portfolio_path(@portfolio_item) if logged_in?(:site_admin) %>
    <!-- <a href="/portfolios/<%= @portfolio_item.id %>/edit">Edit</a> --> <!-- Another way to implement link-->