<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!--  -->
<h1>Hi <%= current_user.first_name %></h1>
<div style="background-color: lightblue; margin-top: 10px;">
<h2>My Blog Posts</h2>
<% @posts.each do |post| %> 
<p><%= post.title %></p>
<p><%= post.body %></p>
<% end %>
</div>

<div style="background-color: lightblue; margin-top: 10px;">
<h2>Skills</h2>
<% @skills.each do |skill| %> 
<p>
<span><%= skill.title %>: </span>
<span><%= skill.percent_utilized %></span>
</p>
<% end %>
</div>

<div style="background-color: lightblue; margin-top: 10px;">
<h2>Portfolio items</h2>
<% @portfolios.each do |portfolio| %> 
<p><%= portfolio.title %>: </p>
<p><%= portfolio.subtitle %></p>
<p><%= portfolio.body %></p>
<img src=<%= portfolio.thumb_image %> alt="thumb_image" />
<% end %>
</div>

<h2>Blog posts</h2>
<%= @posts.inspect %>

<h2>Skills </h2>
<%= @skills.inspect %>

<h2>Portfolio</h2>
<%= @posts.inspect %>
