<!-- <h1>Homepage</h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
<!-- 
<h1>Hi <%= current_user.first_name %></h1>
<div style="background-color: lightblue; margin-top: 10px;">
<h2>My Blog Posts</h2>
<% @posts.each do |post| %> 
<p><%= post.title %></p>
<p><%= post.body %></p>
<% end %>
</div>

<div style="background-color: lightblue; margin-top: 10px;">
<h2>Skills</h2>
<% @skills.each do |skill| %> 
<p>
<span><%= skill.title %>: </span>
<span><%= skill.percent_utilized %></span>
</p>
<% end %>
</div>

<div style="background-color: lightblue; margin-top: 10px;">
<h2>Portfolio items</h2>
<% @portfolios.each do |portfolio| %> 
<p><%= portfolio.title %>: </p>
<p><%= portfolio.subtitle %></p>
<p><%= portfolio.body %></p>
<img src=<%= portfolio.thumb_image %> alt="thumb_image" />
<% end %>
</div>

<h2>Blog posts</h2>
<%= @posts.inspect %>

<h2>Skills </h2>
<%= @skills.inspect %>

<h2>Portfolio</h2>
<%= @posts.inspect %>
-->

<!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> -->
  <!-- <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cover</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header> -->

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">
      Software development is, in my opinion, a game of communication. When I embark on a project, I make it 
      my object (pun intended), not only to furnish a work of art, but to also ensure that each step of the process
      is effectively conveyed 
    </p>
    <p class="lead">
      <!-- <a href="#" class="btn btn-lg btn-secondary">Learn more</a> -->
      <!-- <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>

  <!-- <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
          href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer> -->
<!-- </div> -->
