<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab&display=swap" rel="stylesheet">

  <meta name="keywords" content="<%= @seo_keywords %>" />

  <%= favicon_link_tag 'favicons/favicon.ico' %>

  <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <%= render 'shared/blog_nav' %>
  </div> 

  <main role="main" class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <%= yield %>
      <%= render 'shared/blog_sidebar' %>
    </div>
  </main>

  <div class="container-new-blog-link">
    <!-- <%= link_to '&#10011;', new_blog_path, class: 'new-blog-link' %> -->
    <a href='/blogs/new' class="new-blog-link">&#10011;</a>
  </div>
  
  <%= alerts %>

  <%= render 'shared/blog_footer' %>
</body>

</html>